.textPos {
    text-align: center
}
.center {
    display: flex;
    justify-content: center;
    
  }

  #bt5, #bt6 {
   
    margin-right: 20px;
    margin-top: 20px;
    height: 150px;
    word-wrap: break-word;
    width: 125px;
}